.row { margin-top: 10px; }

a.brand img { padding: 0px 4px; margin: -3px 0 0 0; vertical-align: middle; }

/* This is a hack to fix the problem with the up arrow being displayed for dropdowns when the navbar is in responsive mode */
.nav-collapse .nav > li > .dropdown-menu:before,
.nav-collapse .nav > li > .dropdown-menu:after {
   display: none;
}